:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --prime: #DA5C53;
  --purple: #565594;
  --primepurple: #565594;
  --primeFont: "Nunito Sans",sans-serif;
}

.navbar-specs{
  height: 5rem;
}

.color-text {
  color: var(--primepurple);
  font-family: var(--primeFont);
  font-weight: 700;
}

.head-start{
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .first-intro{
    margin: 0;
  }
}

.first-intro{
  height: 50vh;
}

.intro-head{
  font-weight: 700;
}

.myButton {
	background-color:#565594;
	border-radius:3px;
	border:1px solid #565594;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: var(--primeFont);
	font-size:18px;
	font-weight:bold;
	padding:14px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #565594;
}
.myButton:hover {
	background-color:#5f5e95;
	color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

   
